## Required Codio Assignment 1.2: Exploring a DataFrame 

**Expected Time: 30 Minutes**

**Total Points: 12 Points**

In this exercise you will use basic summarization methods on a pandas DataFrame.

## Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)

In [4]:
import pandas as pd
import numpy as np

In [5]:
nba = pd.read_csv('data/nba.csv', index_col = 0)

[Back to top](#Index:) 

## Problem 1

### Describing the data

**4 Points**

Using the DataFrame `nba` loaded above, get a summary of the numeric variables using the `.describe` method.  Assign your results as a DataFrame to `nba_summary` below.

In [6]:
### GRADED

nba_summary = None

# YOUR CODE HERE
nba_summary = nba.describe()

# Answer check
print(nba_summary)
print(type(nba_summary))

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.570000e+02
mean    17.678337   26.938731  221.522976  4.726121e+06
std     15.966090    4.404016   26.368343  5.218945e+06
min      0.000000   19.000000  161.000000  0.000000e+00
25%      5.000000   24.000000  200.000000  1.000000e+06
50%     13.000000   26.000000  220.000000  2.658240e+06
75%     25.000000   30.000000  240.000000  6.331404e+06
max     99.000000   40.000000  307.000000  2.500000e+07
<class 'pandas.core.frame.DataFrame'>

[Back to top](#Index:) 

### Problem 2

### Getting the missing data information 

**4 Points**

In the National Basketball Association (NBA), there are some athletes that do not take the usual career path of playing for a college and then become a professional athlete. Some athletes skip college and go professional directly out of high school. How many athletes in this DataFrame skipped college and went straight to the professional level?

To find this answer, create a series with the counts of null values for each column in the `nba` DataFrame.  Assign your solution as a pandas Series to `nba_nulls` below.  **HINT**: Use the `.isnull` and `.sum` methods together on the `nba` DataFrame.

In [7]:
### GRADED

nba_nulls = None

# YOUR CODE HERE
nba_nulls = nba.isnull().sum()

# Answer check
print(nba_nulls)
print(type(nba_nulls))

Name         0
Team         0
Position     0
Height       0
College     84
Number       0
Age          0
Weight       0
Salary       0
dtype: int64
<class 'pandas.core.series.Series'>

[Back to top](#Index:) 

## Problem 3

### Examining top 10 rows

**4 Points**

Use the `.head` method to display the first ten rows of the `nba` DataFrame.  Assign your results as a DataFrame to the `nba_head` variable below.

In [8]:
### GRADED

nba_head = None

# YOUR CODE HERE
nba_head = nba.head(10)

# Answer check
print(nba_head)
print(nba_head.shape)

            Name            Team Position Height            College  Number  \
0  Avery Bradley  Boston Celtics       PG    6-2              Texas     0.0
1    Jae Crowder  Boston Celtics       SF    6-6          Marquette    99.0
2   John Holland  Boston Celtics       SG    6-5  Boston University    30.0
3    R.J. Hunter  Boston Celtics       SG    6-5      Georgia State    28.0
4  Jonas Jerebko  Boston Celtics       PF   6-10                NaN     8.0
5   Amir Johnson  Boston Celtics       PF    6-9                NaN    90.0
6  Jordan Mickey  Boston Celtics       PF    6-8                LSU    55.0
7   Kelly Olynyk  Boston Celtics        C    7-0            Gonzaga    41.0
8   Terry Rozier  Boston Celtics       PG    6-2         Louisville    12.0
9   Marcus Smart  Boston Celtics       PG    6-4     Oklahoma State    36.0

    Age  Weight      Salary
0  25.0   180.0   7730337.0
1  25.0   235.0   6796117.0
2  27.0   205.0         0.0
3  22.0   185.0   1148640.0
4  29.0   231.0   5000000.0
5  29.0   240.0  12000000.0
6  21.0   235.0   1170960.0
7  25.0   238.0   2165160.0
8  22.0   190.0   1824360.0
9  22.0   220.0   3431040.0
(10, 9)